---
import ProjectCard from "src/components/ProjectCard.astro";
import { getCollection } from "astro:content";
import IndexPageLayout from "../../layouts/IndexPageLayout.astro";

// read mdx files from posts folder as entities
const posts = await getCollection("posts");

// sort posts by dateStart DESC
posts.sort((a: any, b: any) => {
  return new Date(b.data.startDate).getTime() - new Date(a.data.startDate).getTime();
});
---

<IndexPageLayout
  title="Blog"
  description="Un espacio donde comparto contenido sobre tecnología, videojuegos (también retro) y divulgación en general."
  subTitle="Mi Blog"
>
  <div class="grid w-full grid-cols-2 gap-4 md:grid-cols-3 md:gap-6">
    {
      posts.map((entity: any) => (
        <ProjectCard
          key={entity.data.title}
          href={"/posts/" + entity.slug}
          heading={entity.data.title}
          subheading={entity.data.description}
          altText={entity?.data?.image?.alt}
          imagePath={entity?.data?.image?.url}
          dateStart={entity.data.startDate}
        />
      ))
    }
  </div>
</IndexPageLayout>


