---
import {Button} from '../ui/button'
import {PROFILE} from "../../content/profileData";
import {Linkedin, Github, Mail, Youtube, Twitter, Rss, Book, PanelsTopLeft} from 'lucide-react'
---

<div class="flex h-full w-full items-start gap-8 animate-appear">
  <!-- TEXTO -->
  <div class="min-w-0 flex-1 flex flex-col justify-between gap-4 md:max-h-[300px]">
    <div class="flex h-full flex-col">
      <p class="m-0 text-xl font-light">
        Hi, I'm <b class="font-bold">{PROFILE.firstName}</b>.
      </p>

      <ul class="pt-4 space-y-2">
        {PROFILE.shortIntros.map((intro, index) => (
          <>
            {index === Math.floor(PROFILE.shortIntros.length / 2)
              ? <li aria-hidden="true" class="h-2"></li>
              : null}
            <li class="break-words">{intro}</li>
          </>
        ))}
      </ul>
    </div>
  </div>

  <!-- IMAGEN -->
  <div class="shrink-0 flex justify-end">
    <img
      src={PROFILE.avatarUrl}
      alt={`Foto de ${PROFILE.name}`}
      loading="lazy"
      decoding="async"
      class="h-72 w-56 md:h-70 md:w-74 rounded-3xl object-cover object-[50%_15%] ..."

    />
  </div>
</div>



