---
// ProjectCard.astro
import { Card as ShadcnCard } from "./ui/card";
import { Badge } from "./ui/badge";

const {
  as: Tag = "a",
  class: className = "",
  href,
  heading,
  subheading,
  imagePath,
  altText,
  dateStart,
} = Astro.props;
---

<Tag href={href} class={`block h-full ${className}`}>
  <ShadcnCard
    className={`group relative h-full flex flex-col overflow-hidden rounded-2xl shadow-lg transition duration-75 ease-in-out
      ${href ? "cursor-pointer hover:border-primary" : ""}`}
  >
    <!-- Imagen responsive con proporción fija -->
    <div class="w-full overflow-hidden rounded-2xl rounded-bl-none rounded-br-none aspect-[3/2] sm:aspect-[4/3]">
      <img
        src={imagePath}
        alt={altText ?? heading}
        class="h-full w-full object-cover"
        loading="eager"
      />
    </div>

    <!-- Contenido: ocupa el espacio para igualar alturas -->
    <div class="flex-1 flex flex-col gap-y-0.5 px-5 py-4">
      <h3 class="text-lg font-medium line-clamp-2">{heading}</h3>
      <h4 class="text-muted-foreground line-clamp-3">{subheading}</h4>
    </div>

    
  </ShadcnCard>
</Tag>

