---
import ProjectCard from "src/components/ProjectCard.astro";
import { getCollection } from "astro:content";
import IndexPageLayout from "../../layouts/IndexPageLayout.astro";

// read mdx files from projects folder as entities
const projects = await getCollection("projects");

// sort projects by dateStart DESC
projects.sort((a: any, b: any) => {
  return new Date(b.data.startDate).getTime() - new Date(a.data.startDate).getTime();
});
---

<IndexPageLayout
  title="Projects"
  description="Proyectos en los que he trabajado."
  subTitle="My Projects"
>
  <div class="grid w-full auto-rows-fr grid-cols-2 gap-4 md:grid-cols-3 md:gap-6">
    {
      projects.map((entity: any) => (
        <ProjectCard
          key={entity.data.title}
          href={"/projects/" + entity.slug}
          heading={entity.data.title}
          subheading={entity.data.description}
          altText={entity?.data?.image?.alt}
          imagePath={entity?.data?.image?.url}
          dateStart={entity.data.startDate}
        />
      ))
    }
  </div>
</IndexPageLayout>


